.miaClasse{
    background-color: deepskyblue;
    color: black;

    text-align: center;
}

ul, ol {
    display: inline-block;

    border-width: 1px;
    border-style: dashed;
    border-color: black;

    width: 20%;
}

body, html {
    height: 90%;
}

body {
    margin: 50px;

    background-color: white;

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

p {
    font-size: 16px;
}